.footer-container{
    overflow: hidden;
    height: 100%;
}

.footer-content{
    padding-top: 180px;
    position: relative;
}


.footer-info-block{
    display: flex;
    gap: 160px;
}
.footer-official a{
    position: relative;
}
.footer-official label{
    display: block;
}
.f-i-1{
    font-size: 20px;
    padding-bottom: 20px;
    color: #FFF;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.f-i-2{
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    position: relative;
}


.footer-official a::before {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--Grey);
    transition: width 0.3s;
}

.footer-official a:hover::before {
  width: 160px;
}
.footer-offices{
    display: block;
    width: 490px;

}
.footer-offices-addresses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-offices-addresses p {
    flex-basis: calc(50% - 10px);
    margin: 0;
    color: #CBCCCE;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.footer-updates{
    padding-bottom: 20px;
}
.footer-logo{
    width: 1560px;
    height: 432px;
    color: #FFCB00;
    font-family: var(--font-family);
    font-size: 360px;
    font-style: normal;
    font-weight: 400;
    line-height: 432px;
    padding-left: 90px;
    position: relative;
    top: 105px

}

.logo-yo{
}
.footer-btns{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.footer-btn{
    display: flex;
    width: 163px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid  #CBCCCE;
    color: white;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    cursor: pointer;

}

.footer-btn:hover{
    background: white;
    color: black;
}

@media (max-width: 375px) {
    .footer-container{
        height: 100%;
    }
    .footer-content{
        padding-top: 40px;
        padding-left: 20px;
        position: relative;
    }
    .footer-info-block{
        display: block;
        gap: 16px;
    }
    .footer-official{
        display: flex;
        padding-bottom: 20px;
    }
    .f-i-1{
        font-size: 16px;
        padding-bottom: 10px;
        line-height: 24px;
    }
    .f-i-2{
        font-size: 14px;
        line-height: 20px;
        width: 40px;
        padding-left: 40px;
    }
    .footer-official a::before {
        display: none;
    }

    .footer-logo{
        height: 112px;
        font-size: 80px;
        line-height: 112px;
        padding-left:20px;
        position: relative;
        top: 30px
    }
    .footer-offices-addresses {
        display: flex;
        padding-top: 10px;
        padding-right: 130px;
    }
    .footer-offices-addresses p {
        flex-basis: calc(50% - 10px);
        font-size: 12px;
        line-height: 16px;
    }
    #hide{
        display: none;
    }
}