.header{
    width: 100%;
    height: 108px;
    border-bottom: 0.5px solid var(--Grey);
    background:  #222;
    position: fixed;
    top: 0;
    color: white;
    z-index: 1000;
    transition: backdrop-filter 0.3s ease;
}

.info-block-open{
    background-color: rgba(0, 0, 0, 0.5);
    height: 1500px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-left{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-left: 60px;
}

.header-city_selection{
    margin-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-city{
    margin-left: 12px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 162px;
    background-color: #fff;
    padding: 20px 28px 24px 28px;
    z-index: 999;
    width: 324px;
    height:124px;
}
.dropdown::before {
    content: "";
    position: absolute;
    width: 20px;
    top: -10px; /* Расположение над верхней границей .dropdown */
    left: calc(15% - 16px); /* Расположение по горизонтали в центре .dropdown */
    border-width: 0 10px 10px 10px; /* Размеры треугольника */
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.dropdown_btns{
    display: flex;
}
.dropdown-btn_yes{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Yellow);
    width: 112px;
    height: 40px;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.dropdown-btn_yes:hover {
    background-color: black;
    color: white;
}

.dropdown-btn_no{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #606060;
    background: transparent;
    width: 144px;
    height: 40px;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.dropdown-btn_no:hover {
    background-color: var(--Grey);
    border: none;

}
.dropdown p {
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin-bottom: 16px;
}

.dropdown button {
    margin-right: 12px;
}



.header-menu{
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 18px;
    margin-left: 30px; /* !!!!! потом замерить и сделать окончательно когда придут адаптивы*/

}
.header-menu label {
    position: relative;
    cursor: pointer;
}

.header-menu label::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--Yellow);
    transition: width 0.3s;
}

.header-menu label:hover::before {
  width: 100%;
}

.header-right{
    display: flex;
    padding-top: 24px;
    padding-right: 64px;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}
.header_phone-icon{
    width: 18px;
    height: 18px;

}

.header-phone_number{
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    gap: 21px;
}
.btn-header{
    display: inline-flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Yellow);
    width: 223px;
    height: 60px;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    transition: background-color 0.3s;
}

.btn-header:hover {
    background-color: white;
    color: black;
}
.logo{
    width: 60px;
    height: 60px;
}


.info-block {
    background: var(--BG);
    position: fixed;
    top: 0;
    right: -840px;
    width: 840px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1001;
    transition: right 0.3s ease-in-out;
}

.header .info-block.active {
    right: 0;

}

.close-button {
    position: absolute;
    top: 40px;
    left: 40px;
    background: none;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.close-button:hover {
    background-color: white;
    color: black;
}

.close-button img {
    transition: filter 0.3s;
}

.close-button:hover img {
    filter: invert(100%);
}
.request-block{
    width: 100%;
    height: 1080px;
    text-align: left;
    font-family: var(--font-family);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.request-block_upper{
    height: 400px;
    width: 504px;
    padding-left: 156px;

}
.request-block_down{
    width: 100%;
    padding-left: 156px;
    height: 620px;
    background: var(--BG-light);
    display: flex;
    flex-direction: row;
}
.request-header-form{
    margin-top: 30px;
    width: 504px;
}

.request-input-header input {
    width: 100%;
    height: 40px;
}

.request-header-form input{
    background: transparent;
    border-bottom: 1px solid var(--Grey, #989898);
    width: 496px;
}

.request-input-header{
    margin-top: 30px;
}


.request-input-header label {
    color: var(--Dark-gray, #606060);
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    }
.request-input-header input::placeholder{
    color: var(--Grey);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 32px;
}
.request-title{
    color:white;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
#request-sent{
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 12px;
}

.request-block_subtitles-sent{
    padding-top: 40px;

}
.title-color{
    color: var(--Yellow);
}
.request-subtitle{
    color: white;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 32px;
    color: #CBCCCE;
}
.request-title-another{
    color:  #FFF;
    text-align: left;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    margin-top: 60px;
    margin-bottom: 28px;
}

.request-bottom-part{
    padding-top: 76px;
    display: flex;
    flex-direction: column;



}
.request-checkbox{
    width: 180px;
    display: flex;
    align-items: center;
}
.request-checkbox-input{
    border: 2px solid var(--Black, #141414);
    width: 28px;
    height: 28px;

}
.request-block_btn{
    flex: 1;
    align-self: flex-end;
    cursor: pointer;
}


.checkbox-pad{
    color: var(--Dark-gray, #606060);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 14px;
    padding-right: 10px;
    height: 20px;
}
.btn-header_down{
    background: var(--Yellow, #FFCB00);
    width: 223px;
    height: 60px;
    color: var(--Black, #141414);
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.btn-header_down:hover{
    background: black;
    color: white;
}
.request-block_video{
    padding-bottom: 42px;
    margin-top: 50px;
}
#request-sent{
    margin-bottom: -20px;
}

/* Стили для списка городов */
.cities-list {
    width: 336px;
    height: 316px;
    position: absolute;
    top: 100%; /* Расположение под элементом header-city_selection */
    left: 162px;
    background-color: #F5F5F5;
    padding: 32px 40px; /* Отступы внутри окна */
    z-index: 999;
    max-height: 400px;

}
.request-block_titles-sent{
    padding-left: 116px;

}
.cities-list::before {
    content: "";
    position: absolute;
    width: 20px;
    top: -9px; /* Расположение над верхней границей .dropdown */
    left: calc(15% - 16px); /* Расположение по горизонтали в центре .dropdown */
    border-width: 0 10px 10px 10px; /* Размеры треугольника */
    border-style: solid;
    border-color: transparent transparent #F5F5F5 transparent;
}
.cities-list_city {
    font-size: 14px;
    font-family: var(--font-family);
    color: black;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 15px;
}

.cities-list_city label {
    position: relative;
}

.cities-list_city label::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--Yellow);
    transition: width 0.3s;
}

.cities-list_city label:hover::before {
    width: 100%;
}

.city-drop {
    cursor: pointer;
}



.yellow-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 528px;
    height: 2px;
    background: var(--Yellow);
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--Yellow, #FFCB00);

}

.request-underyellowbar-titles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 528px;
    margin-top: 16px;
}

.underyellow-title{
    color: white;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.overlay {
  display: none;
    width: 700px;
  position: fixed;
  top: 0;
  right: 0;

  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay.active {
  display: block;
}



/*.header .info-block.active {*/
/*    right: 0;*/
/*}*/

/*.close-button {*/
/*    position: absolute;*/
/*    top: 40px;*/
/*    left: 40px;*/
/*    background: none;*/
/*    cursor: pointer;*/
/*    border-radius: 100px;*/
/*    border: 1px solid white;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    transition: background-color 0.3s, color 0.3s;*/
/*}*/

/*.close-button:hover {*/
/*    background-color: white;*/
/*    color: black;*/
/*}*/

/*.close-button img {*/
/*    transition: filter 0.3s;*/
/*}*/

/*.close-button:hover img {*/
/*    filter: invert(100%);*/
/*}*/
/*.request-block{*/
/*    width: 504px;*/
/*    height: 1080px;*/
/*    text-align: left;*/
/*    font-family: var(--font-family);*/
/*    padding-top: 100px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.request-block_upper{*/

/*}*/
/*.request-block_down{}*/
/*.input-container {*/
/*  padding: 20px 0px;*/
/*}*/

/*.input-container input[type="text"],*/
/*.input-container input[type="tel"],*/
/*.input-container input[type="comment"]{*/
/*  border: none;*/
/*  background: transparent;*/
/*  width: 100%;*/
/*  border-bottom: 1px solid #949494;*/
/*  padding: 10px 0;*/
/*  font-size: 20px;*/
/*  color: white;*/
/*}*/

/*.input-container label {*/
/*  font-weight: bold;*/
/*  color: #fff;*/
/*}*/

/*.request-title{*/
/*    color:white;*/
/*    font-size: 36px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: 48px;*/
/*    padding-bottom: 25px;*/
/*}*/
/*.title-color{*/
/*    color: var(--Yellow);*/
/*}*/
/*.request-subtitle{*/
/*    color: white;*/
/*    font-size: 24px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: 32px;*/
/*}*/

/*.request-checkbox{*/
/*    padding-top: 20px;*/
/*}*/
/*.request-block_btn{*/
/*    padding-top: 80px;*/
/*    align-self: flex-end;*/
/*}*/

/*.checkbox-pad{*/
/*    padding-left: 5px;*/
/*    font-size: 16px;*/
/*}*/
/*.request-block_video{*/
/*    padding-bottom: 42px;*/
/*}*/
/*#request-sent{*/
/*    margin-bottom: -20px;*/
/*}*/