.header{
    width: 100%;
    height: 108px;
    border-bottom: 0.5px solid var(--Grey);
    background:  #222;
    position: fixed;
    top: 0;
    color: white;
    z-index: 1000;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-left{
    display: flex;
    padding-top: 24px;
    padding-left: 60px;
}

.header-menu{
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-left: 30px; /* !!!!! потом замерить и сделать окончательно когда придут адаптивы*/

}
.header-menu label {
  position: relative;
  cursor: pointer;
}

.header-menu label::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--Yellow);
  transition: width 0.3s;
}

.header-menu label:hover::before {
  width: 100%;
}

.header-right{
    display: flex;
    padding-top: 24px;
    padding-right: 64px;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}
.header_phone-icon{
    width: 20px;
    height: 20px;

}

.header-phone_number{
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    gap: 21px;
}
.btn-header{
    display: inline-flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Yellow);
    width: 223px;
    height: 60px;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    transition: background-color 0.3s;
}

.btn-header:hover {
    background-color: white;
    color: #000;
}
.logo{
    width: 60px;
    height: 60px;
}


.info-block {
    background: var(--BG);
    position: fixed;
    top: 0;
    right: -840px;
    width: 840px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1001;
    transition: right 0.3s ease-in-out;
}

.header .info-block.active {
    right: 0;
}

.close-button {
    position: absolute;
    top: 40px;
    left: 40px;
    background: none;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.close-button:hover {
    background-color: white;
    color: black;
}

.close-button img {
    transition: filter 0.3s;
}

.close-button:hover img {
    filter: invert(100%);
}
.request-block{
    width: 504px;
    text-align: left;
    font-family: var(--font-family);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.input-container {
  padding: 20px 0px;
}

.input-container input[type="text"],
.input-container input[type="tel"],
.input-container input[type="comment"]{
  border: none;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #949494;
  padding: 10px 0;
  font-size: 20px;
  color: white;
}

.input-container label {
  font-weight: bold;
  color: #fff;
}

.request-title{
    color:white;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    padding-bottom: 25px;
}
.title-color{
    color: var(--Yellow);
}
.request-subtitle{
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.request-checkbox{
    padding-top: 20px;
}
.request-block_btn{
    padding-top: 80px;
    align-self: flex-end;
}

.checkbox-pad{
    padding-left: 5px;
    font-size: 16px;
}
.request-block_video{
    padding-bottom: 42px;
}
#request-sent{
    margin-bottom: -20px;
}