.hero-container{
    width: 100%;
    height: 1284px;
    background: var(--BG);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/

}
.hero-upper{
    padding-top: 284px;
    padding-bottom: 170px;
}

.hero-title{
    color: var(--Yellow);
    font-family: var(--font-family);
    font-size: 160px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -50px;
    z-index: 3;
}
.hero-picture {
    position: relative;
    display: flex;
}
.car-picture{
    width: 1320px;
    height: 400px;
    z-index: 5;
}

.car-picture::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 500px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
    bottom: -100px;
    left: 0;
    z-index: 2;
}

.hero-down{
    width: 100%;
    height: 204px;
    border-top: 1px solid var(--Grey, #CBCCCE);
    display: flex;
    align-items: center;
}

.hero-info{
    text-align: left;
    color: var(--Grey);
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 400px;
}

.hero-down_left{
    width: 687px;
    height: 203px;
    background-color: white;
    display: flex;
    align-items: center;

}

.hero-down_title{
    color:  #141414;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-left: 180px;
}
.down-title{
    width: 132px;
    height: 56px;
}

.hero-down_right {
    display: flex;
    align-items: center;

}

.hero-down_right-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.down_right-title{
    width: 152px;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    padding-left: 26px;
    line-height: 28px
}
.hero-down_right-block-1{
    display: flex;
    width: 330px;
    justify-content: flex-end;
    align-items: center;

}

.light-glow {
    width: 1100px;
    height: 350px;
    position: absolute;
    top: 8%;
    left: 13%;
    z-index: 1;
}

.light-glow::before {
    content: "";
    position: absolute;
    width: 1100px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius:90%;
    animation: glow 3s infinite alternate;
}

@keyframes glow {
    0% {
        transform: scale(1);
        filter: blur(30px);
    }
    100% {
        transform: scale(1.2);
        filter: blur(50px);
    }
}

@media (max-width: 375px) {
    .hero-container{
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;

}
    .hero-upper{
        padding-top: 160px;
        padding-bottom: 20px;
        padding-left: 20px;

    }

    .hero-title{
        font-size: 54px;
        text-align: left;
        margin-bottom: -80px;
        padding-top: 30px;
        z-index: 3;
        width: 70px;
    }
    .hero-picture {
        position: relative;
        display: flex;
        margin-bottom: 20px;
    }
    .car-picture{
        width: 620px;
        height: 188px;
        z-index: 5;
    }
    .hero-info{
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        padding-top: 12px;
        padding-left: 107px;
        padding-bottom: 30px;
    }
    .light-glow::before {
        width: 500px;
        height: 150px;
    }

    .hero-down{
        width: 100%;
        height: 204px;
        border-top: none;
        display: flex;
        align-items: center;
    }

    .hero-down_left{
        width: 180px;
        height: 80px;

    }

    .hero-down_title{

        font-size: 14px;
        line-height: 20px;
        padding-left: 20px;
        padding-top: 20px;
    }
    .hero-down_right-block {
        display: flex;
        gap: 50px;
        margin-left: 50px;

    }
    .hero-down_right-block-1{

        width: 159px;
    }
    .down_right-title{
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 10px;
        padding-right: 5px;
    }
}
