:root {
    --Yellow: #FFCB00;
    --Grey: #CBCCCE;
    --BG: #222222;
    --BG-light: #F5F5F5;
    --Black: #141414;
}

.container__rent-all {
    margin-bottom: 157px;
    padding-top: 132px;
    display: flex;
}

.rent-all-list {
    padding-left: 121px;
    padding-top: 145px;
}

.rent-all-item {
    margin-bottom: 25px;
}

.rent-all-item--border {
    display: inline-block;
    color: var(--Black);
    font-size: 36px;
    font-weight: 400;
    line-height: 85px;
    border-bottom: 1px solid #989898;
}

.rent-all-item--yellow {
    display: inline-block;
    color: var(--Yellow);
    font-size: 60px;
    font-weight: 400;
    line-height: 76px;
    text-transform: uppercase;
    transform: translateY(10%);
}

.container__rent-how {
    position: relative;
    margin-bottom: -375px;
}

.subtitle__rent-how {
    position: relative;
    z-index: 2;
}

.rent-how__step {
    width: 248px;
    color: var(--Black);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
    z-index: 2;
}

.step-img {
    position: absolute;
}

.step-1 {
    left: 171px;
    top: 3px;
}

.step-2 {
    left: 533px;
    top: 83px;
}

.step-3 {
    left: 924px;
    top: 315px;
}

.step-4 {
    left: 1300px;
    top: 489px;
}

.step-img-01,
.step-img-02 {
    left: -63px;
    top: 75px;
}

.step-img-03,
.step-img-04 {
    top: -268px;
    left: -61px;
}

.road-picture {
    position: relative;
    top: -133px;
}