@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.container-video {
    height: 1144px;
    background: var(--BG);
    padding: 132px 0;
}


.video-title{
    color: #FFF;
    font-family: var(--font-family);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px;
    text-transform: uppercase;
    margin-bottom: 80px;
}

/*размеры видео*/
.video-pos-single {
    width: 900px;
    height: 480px;
    margin-left: 70px;
    /*margin-bottom: -150px;*/
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: 30px;*/
}


.video-pos {
    transition: transform 0.6s ease, filter 0.6s ease;
    filter: brightness(1);

}

/* Стили для активного слайда (левого!!) */
.video-pos.active {
    transform: scale(1);
    z-index: 1;
    filter: brightness(1);
    margin-left: -75px;
    transition: transform 0.6s ease, filter 0.6s ease;

}

/* Стили для неактивного слайда */
.video-pos:not(.active) {
    transform: scale(0.7);
    padding-left: 70px;
    margin-top: 5px;
    filter: brightness(0.4);
    transition: transform 0.6s ease, filter 0.6s ease;
}

/*  Все для Dots */
.slick-dots {
    position: absolute;
    top: 680px;
    left: 10px;
    text-align: left;
    margin-bottom: -70px;
}

.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: var(--Yellow);
}
.slick-dots li button:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--Yellow);
    border-radius: 50%;
}
.slick-dots li:not(.slick-active) button:before {
    opacity: 0.3;
    border: 1px solid var(--Yellow);
    background: transparent;
    color: transparent;
}

.video-driver-name{
    margin-top: 10px;
    margin-left: 80px;
    color: #FFF;
    text-align: left;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 28px;
}
@media (max-width: 375px) {
    .container-video{
        display: none;
    }
}